# Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
.venv/
venv/
docs/
storage/

# Entorno
.env

# Editor
.vscode/
.idea/

# Tests
.pytest_cache/
.coverage

# Build y empaquetado
*.egg-info/
build/
dist/